<div>
  <h4>Post a Comment</h4>
      <%= form_for [ @company, @job, @comment ] do |f| %>
      <%= render partial: "shared/errors", locals: { target: @comment } %>

      <p><%= f.text_field :content %></p>

      <%= f.submit class: "btn btn-md btn-primary"%>
      <% end %>
</div>
