<% if current_user %>
  <h4>Hi, <%= current_user.first_name %></h4>
  <% else %>
  <h4>Hi, Guest</h4>
  <% end  %>

<div class="jumbotron">
  <h1>Find Your Dream Job!</h1>
  <p class="lead">This sites allows you to keep track of job opportunities at top rated companies in Denver and beyond. You can browse or upload job opportunities, visit the dashboard for jobs with high demand, and connect with employeers at hundreds of companies.</p>
  <p><%= link_to "View details", companies_path, class: "btn btn-lg btn-success" %></p>
</div>


<div class="row">
  <div class="col-lg-6">
    <h2>Companies</h2>
    <p>This is the best place to start your job search.
      There are millions of companies registered on this site who are looking
      for great talent, such as yourself. Browse this section to see which jobs
      are a best fit for you. Contact the hiring managers at the company of your choice.</p>
    <p><%= link_to "View details", companies_path, class: "btn btn-primary" %></p>
  </div>

  <div class="col-lg-6">
    <h2>Job Categories</h2>
    <p>Narrow your job searche by specific parameters such as location,
      job title, industry and more. Job categories are updated regularily
      and allow you to quickly find thousands of listing that best fit your
      job search.</p>
  <p><%= link_to "View details", categories_path, class: "btn btn-primary" %></p>
  </div>
