<div align="center">
  All Jobs for <strong><%= @company.name %></strong>

  <% @company.jobs.each do |job| %>
  <p><%= job.title %></p>
  <% end %>
  <p><%= link_to "Companies Index", companies_path %></p>
</div>
